* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: rgb(160, 47, 113);
    height: 60px;
}

.nav_box {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.my_shop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.cart {
    cursor: pointer;
    margin: 10px;
}

.cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2) {
    padding: 0 3px;
    background-color: red;
    font-weight: bold;
    color: white;
    position: relative;
    top: -15px;
    border-radius: 50px;
}